<!-- login.component.html -->
<a href="#" class="back-button">Back</a>

<body>
  <div class="center">
    <h1>Login</h1>
    <form (ngSubmit)="login()" method="post">
      <div class="txt_field">
        <input type="text" [(ngModel)]="username" name="username" required>
        <span></span>
        <label>Username</label>
      </div>
      <div class="txt_field">
        <input type="password" [(ngModel)]="password" name="password" required>
        <span></span>
        <label>Password</label>
      </div>
      <div class="pass">Forgot Password?</div>
      <button type="submit" class="login_btn">Login</button>
      <!-- Display error message -->
      <div *ngIf="getErrorMessage()" class="error-message">{{ getErrorMessage() }}</div>
<!-- Display success message -->
      <div *ngIf="getSuccessMessage()" class="success-message">{{ getSuccessMessage() }}</div>
    </form>
  </div>
</body>
<!-- <button class="admin" routerLink="/admin_dashboard">admin
  <i class="zmdi zmdi-arrow-right"></i>
</button>
<button class="admin" routerLink="/HOD-panal">HOD-panal
  <i class="zmdi zmdi-arrow-right"></i>
</button> -->
