<!-- edit-lecturer.component.html -->

<div class="edit-lecturer-container">
    <h2>Edit Lecturer Details</h2>
  
    <div class="lecturer-details">
      <div>
        <label for="lecturerName">Lecturer Name:</label>
        <input type="text" id="lecturerName" [(ngModel)]="lecturer.LecturerName" />
      </div>
  
      <!-- Add other input fields for other lecturer details -->
    </div>
  
    <!-- <div class="actions">
      <button (click)="saveChanges()">Save Changes</button>
      <button (click)="cancelEdit()">Cancel</button>
    </div> -->
  </div>
  