<body>

    <header>
      <h1><b>  Salary Certificate</b></h1>
    </header>
  
    <section>
      <div>
        <p>Certificate No:/Serial No: CINEC/2023/VL001</p>
      </div><br>
      <div>
        <p>Tin of the Withholding Agent: 114120944</p>
      </div><br>
      
      <h3><b>Certificate of Withholding Tax(WHT) / Advanced Income Tax(AIT) Deduction</b></h3>
  
      <div>
        <p>Name and address of the Withholdee: {{ lecturerDetails?.LecturerName }}</p>
      </div><br>
      <div>
        <p>Name and address of the Withholdee: {{ lecturerDetails?.LecturerName }}</p>
      </div><br>
      <div>
        <p>National Identity Card No./Passport No./Tax Identification No: {{ lecturerDetails?.NIC  }}</p>
      </div><br>
      
      
      <div>
        <p>Payment Made for Period: from 01.01.2023  to   31.01.2023 </p>
      </div><br>
      <div>
        <p>Gross Amount(LKR): 200,000</p>
      </div><br>
  
      <table>
        <thead>
          <tr>
            <th>Payment Type</th>
            <th>Amount Subject to WHT</th>
            <th>Amount Not Subject to WHT</th>
            <th>WHT / AIT Rate (%)</th>
            <th>Amount of WHT / AIT Deducted</th>
            <th>Net Amount Paid (LKR)</th>
          </tr>
        </thead>
        <tbody>
          <!-- Add your payment data here -->
          <tr>
            <td>Consultancy fees</td>
            <td>200,000.00</td>
            <td></td>
            <td>5%</td>
            <td>10,000.00</td>
            <td>190,000.00</td>
          </tr>
          <tr *ngFor="let payment of otherPayments">
            <td>other Payments<br> ({{ payment.Description }})</td>
            <td>{{ payment.TotalPayments }}</td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td>{{ payment.TotalPayments }} </td>
          </tr>
           
          <tr>
            <td><b>Total</b></td>
            <td><b>{{ calculateTotalAmountSubjectToWHT() }}</b></td>
            <td><b></b></td>
            <td><b></b></td>
            <td><b>{{ calculateTotalWHTDeducted() }}</b></td>
            <td><b>{{ calculateTotalNetAmountPaid() }}</b></td>
          </tr>
        </tbody>
      </table>
  
      <div class="paragraph">
        <p><b>Above deducted WHT/AIT was paid commissionoer General of Inland Revenue as follows.</b></p>
      </div>
  
      <div>
        <p>Cheque/Auto Payment receipt No:  ........................................</p>
      </div><br>
      <div>
        <p>Date of Payment:  ........................................</p>
      </div>
  
    </section>
  
    <div class="signature">
      <div>
          <p>.....................................</p>
        <p>MS. Tharanga Gamage</p>
      </div>
  
      <div>
        <p>.....................................</p>
        <p>Date:</p>
      </div>
    </div>
  
    <div>
      <p>Name and Signature of the Authorized Officer</p>
    </div>
    
  
    <!-- salary-certificate.component.html -->

    <button class="download-button" (click)="downloadWordFile()">Download Word File</button>


    <!-- <div class="bottom-buttons">
      <button class="delete-button">Save</button>
      </div> -->
  
  </body>