/* Add this CSS to your existing styles */
body {
    background-color: #f8f9fa; /* Light grayish background color */
    border: 2px solid #333; /* Add a 2px solid border with color #333 */
    padding: 20px; /* Add padding to create space between the border and content */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.container {
    background-color: #f7f9fc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

table {
    background-color: #c0d5f5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Optional: Style the table header */
table thead th {
    background-color: rgb(87, 62, 226);
    color: #fff;
}

/* Optional: Style the table rows on hover */
table tbody tr:hover {
    background-color: #f5f5f5;
}

th, td {
    border: 1px solid #939394;
    padding: 8px;
    text-align: center;
}
/* Add this CSS to your existing styles */
.signature {
    display: flex;
    justify-content: space-between;
}

.signature .left {
    text-align: left;
}

.signature .right {
    text-align: right;
}

.signature p {
    margin: 0; /* Remove default margin to avoid extra space around the paragraphs */
}

.download-button {
    margin-top: 20px; /* Add some space between the signature and the download button */
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.download-button:hover {
    background-color: #0056b3;
}
