<div class="logout-container">
    <span class="logout-icon" onclick="toggleDropdown">
        <img class="login-image" src="assets/images/user.png" alt="Login">
    </span>
    <div class="logout-dropdown" id="dropdown">
        <button onclick="changePassword">Change Password</button>
        <button (click)="logout()">Logout</button>

    </div>
</div>

<body>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
     <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
       </head>
       <body class="navbody">
         <!-- <input type="checkbox" id="check">
         <label for="check">
           <i class="fas fa-bars" id="btn"></i>
           <i class="fas fa-times" id="cancel"></i>
         </label> -->
         <div class="sidebar">
          <header>Menu</header>
          <a routerLink="/codashboard"class="active">
            <i class="fas fa-qrcode"></i>
            <span>Dashboard</span>
          </a>
          <a routerLink="/codashboard"> 
           <i class="far fa-caret-square-right"></i>
            <span>Lecturer Name List</span>
          </a>
         <a routerLink="/add_modul"> 
            <i class="far fa-caret-square-right"></i>
            <span>Add New Module</span>
          </a>
          <a routerLink="/add_batch"> 
           <i class="far fa-caret-square-right"></i>
            <span>Add New Batch</span>
          </a>
          <a routerLink="/timetable">
            <i class="far fa-caret-square-right"></i>
             <span>Add Timetable</span>
           </a>
         <a routerLink="/lecregister">
           <i class="far fa-caret-square-right"></i>
            <span>Add New Lecturer</span>
          </a>
        </div>
    </body> 
<div class="wrapper">
  <h3>Add New Batch for {{ Department }}</h3>
        <h3>Add New Batch</h3>
          <div class="form-container">
            <div class="form-field">
                <label for="batchname">Degree Name:</label>
                <input type="text" [(ngModel)]="DegreeName" [ngModelOptions]="{standalone: true}" id="name" name="name" required>
              </div>
              <div class="form-field">
                  <label for="batchno">Batch No:</label>
                  <input type="text" [(ngModel)]="BatchNo" [ngModelOptions]="{standalone: true}" id="name" name="name" required>
                </div>
              <!-- <div class="form-field">
                  <label for="date">Date:</label>
                  <input type="date" id="date">
              </div> -->
              
              
           
              <div class="bottom-buttons">
                  <button class="delete-button">Delete</button>
                  <button (click)="save()">Add <i class="zmdi zmdi-arrow-right"></i></button>
              </div>
          </div>
        
    </div>
</body>
<!-- ===================================================================================================================================== -->
