<a class="back-button" routerLink="/admin_dashboard">Back</a>
<body>

  

    <h2>Department Information</h2>
    <div id="scontainer">
    <table>
      <tr>
        <th>Department Name</th>
        <th>Coordinator</th>
        <th>Head of Department (HOD)</th>
        <th>Visiting Lecturers</th>
      </tr>
      <tr>
        <td>Computer Science</td>
        <td>John Doe</td>
        <td>Jane Smith</td>
        <td>Prof. Smith, Prof. Johnson</td>
      </tr>
    
    </table>
    </div>
    
    </body>