<!-- lecturer-details.component.html -->

<div>
  <h2>Lecturer Details</h2>
 <!-- lecturer-details.component.html -->

<div *ngIf="lecturerDetails">
  <h2>{{ lecturerDetails.LecturerName }}</h2>
  <p>Module Name: {{ lecturerDetails.ModuleName }}</p>
  <p>Hours: {{ lecturerDetails.Hours }}</p>
  <!-- Add other properties as needed -->
</div>

  
  <!-- <div>
    <label for="LecturerName">Lecturer Name:</label>
    <span>{{ lecturerDetails.LecturerName }}</span>
  </div>
  <div>
    <label for="Title">Title:</label>
    <span>{{ lecturerDetails.Title }}</span>
  </div>
  <div>
    <label for="MobileNumber">Mobile Number:</label>
    <span>{{ lecturerDetails.MobileNumber }}</span>
  </div>
  <div>
    <label for="NIC">NIC:</label>
    <span>{{ lecturerDetails.NIC }}</span>
  </div>
  <div>
    <label for="AddressLine1">Address Line 1:</label>
    <span>{{ lecturerDetails.AddressLine1 }}</span>
  </div>
  <div>
    <label for="AddressLine2">Address Line 2:</label>
    <span>{{ lecturerDetails.AddressLine2 }}</span>
  </div>
  <div>
    <label for="State">State:</label>
    <span>{{ lecturerDetails.State }}</span>
  </div>
  <div>
    <label for="Email">Email:</label>
    <span>{{ lecturerDetails.Email }}</span>
  </div>
  <div>
    <label for="SalaryType">Salary Type:</label>
    <span>{{ lecturerDetails.SalaryType }}</span>
  </div>
  <div *ngIf="lecturerDetails.SalaryType === 'monthly'">
    <label for="MonthlyPayment">Monthly Payment:</label>
    <span>{{ lecturerDetails.MonthlyPayment }}</span>
  </div>
  <div *ngIf="lecturerDetails.SalaryType === 'hourly'">
    <label for="RatePerHour">Rate Per Hour:</label>
    <span>{{ lecturerDetails.RatePerHour }}</span>
  </div>
  <div>
    <label for="AccountName">Account Name:</label>
    <span>{{ lecturerDetails.AccountName }}</span>
  </div>
  <div>
    <label for="AccountNumber">Account Number:</label>
    <span>{{ lecturerDetails.AccountNumber }}</span>
  </div>
  <div>
    <label for="BankName">Bank Name:</label>
    <span>{{ lecturerDetails.BankName }}</span>
  </div>
  <div>
    <label for="bankCode">Bank Code:</label>
    <span>{{ lecturerDetails.bankCode }}</span>
  </div>
  <div>
    <label for="BranchName">Branch Name:</label>
    <span>{{ lecturerDetails.BranchName }}</span>
  </div>
  <div>
    <label for="BranchCode">Branch Code:</label>
    <span>{{ lecturerDetails.BranchCode }}</span>
  </div>
</div> -->
