<div class="profile-details">
  <div  *ngFor="let lecturer of filteredItems" class="profile-info">
    <span><label>Lecturer Name:</label>{{ lecturer.LecturerName }}</span><br>
    <span><label>Title:</label>{{ lecturer.Title }}</span><br>
    <span><label>Mobile Number:</label>{{ lecturer.MobileNumber }}</span><br>
    <span><label>NIC:</label>{{ lecturer.NIC }}</span><br>
    <span><label>Address Line-1:</label>{{ lecturer.AddressLine1 }}</span><br>
    <span><label>Address Line-2:</label>{{ lecturer.AddressLine2 }}</span><br>
    <span><label>State:</label>{{ lecturer.State }}</span><br>
    <span><label>Email:</label>{{ lecturer.Email }}</span><br>
    <span><label>Salary Type:</label>{{ lecturer.SalaryType }}</span><br>
    <!-- <span><label>Monthly Payment:</label>{{ lecturer.MonthlyPayment }}</span><br>
    <span><label>Rate Per Hour:</label>{{ lecturer.RatePerHour }}</span><br> -->
    <span><label>Account Name:</label>{{ lecturer.AccountName }}</span><br>
    <span><label>Account Number:</label>{{ lecturer.AccountNumber }}</span><br>
    <span><label>Bank Name:</label>{{ lecturer.BankName }}</span><br>
    <span><label>bank Code:</label>{{ lecturer.bankCode }}</span><br>
    <span><label>Branch Name:</label>{{ lecturer.BranchName }}</span><br>
    <span><label>Branch Code:</label>{{ lecturer.BranchCode }}</span><br>
    <!-- <span><label>Request_State:</label>{{ lecturer.Request_State }}</span><br> -->
    <span><label>Department:</label>{{ lecturer.Department }}</span><br><br>
  
  </div>
</div>